Schema/LogisticsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="LogisticsService"
    targetNamespace="http://tempuri.org/LogisticsService.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/LogisticsService.xsd"
    xmlns:mstns="http://tempuri.org/LogisticsService.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="port">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="countryCode" type="xs:string"/>
        <xs:element name="countryName" type="xs:string"/>
        <xs:element name="portCode" type="xs:string"/>
        <xs:element name="portName" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
</xs:schema>
