App_WebReferences/Logistics/LogisticsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.tpifc.com/TPWebServices" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.tpifc.com/TPWebServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.tpifc.com/TPWebServices">
      <s:element name="GetAllSeaPortInformation">
        <s:complexType />
      </s:element>
      <s:element name="GetAllSeaPortInformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllSeaPortInformationResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchSeaportInformation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchBy" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="searchText" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchSeaportInformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchSeaportInformationResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllHSCodeInformation">
        <s:complexType />
      </s:element>
      <s:element name="GetAllHSCodeInformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllHSCodeInformationResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllSeaPortInformationSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllSeaPortInformation" />
  </wsdl:message>
  <wsdl:message name="GetAllSeaPortInformationSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllSeaPortInformationResponse" />
  </wsdl:message>
  <wsdl:message name="SearchSeaportInformationSoapIn">
    <wsdl:part name="parameters" element="tns:SearchSeaportInformation" />
  </wsdl:message>
  <wsdl:message name="SearchSeaportInformationSoapOut">
    <wsdl:part name="parameters" element="tns:SearchSeaportInformationResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllHSCodeInformationSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllHSCodeInformation" />
  </wsdl:message>
  <wsdl:message name="GetAllHSCodeInformationSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllHSCodeInformationResponse" />
  </wsdl:message>
  <wsdl:portType name="LogisticsServiceSoap">
    <wsdl:operation name="GetAllSeaPortInformation">
      <wsdl:input message="tns:GetAllSeaPortInformationSoapIn" />
      <wsdl:output message="tns:GetAllSeaPortInformationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchSeaportInformation">
      <wsdl:input message="tns:SearchSeaportInformationSoapIn" />
      <wsdl:output message="tns:SearchSeaportInformationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllHSCodeInformation">
      <wsdl:input message="tns:GetAllHSCodeInformationSoapIn" />
      <wsdl:output message="tns:GetAllHSCodeInformationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LogisticsServiceSoap" type="tns:LogisticsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllSeaPortInformation">
      <soap:operation soapAction="http://www.tpifc.com/TPWebServices/GetAllSeaPortInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchSeaportInformation">
      <soap:operation soapAction="http://www.tpifc.com/TPWebServices/SearchSeaportInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllHSCodeInformation">
      <soap:operation soapAction="http://www.tpifc.com/TPWebServices/GetAllHSCodeInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LogisticsServiceSoap12" type="tns:LogisticsServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllSeaPortInformation">
      <soap12:operation soapAction="http://www.tpifc.com/TPWebServices/GetAllSeaPortInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchSeaportInformation">
      <soap12:operation soapAction="http://www.tpifc.com/TPWebServices/SearchSeaportInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllHSCodeInformation">
      <soap12:operation soapAction="http://www.tpifc.com/TPWebServices/GetAllHSCodeInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LogisticsService">
    <wsdl:port name="LogisticsServiceSoap" binding="tns:LogisticsServiceSoap">
      <soap:address location="http://localhost:62178/WebService/LogisticsService.asmx" />
    </wsdl:port>
    <wsdl:port name="LogisticsServiceSoap12" binding="tns:LogisticsServiceSoap12">
      <soap12:address location="http://localhost:62178/WebService/LogisticsService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>